---
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<BaseLayout title="minimal-starter-conquestace-template" >
    <h1 class="text-4xl font-bold mb-4">Contact</h1>
    <p class="text-lg">This is the contact page.</p>
</BaseLayout>