---
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<BaseLayout title="minimal-starter-conquestace-template" description="base">
  <section class="text-center py-20">
    <h1 class="text-5xl font-extrabold text-mathblue mb-6 tracking-tight">
      minimal-starter-conquestace-template
    </h1>
    <p class="text-xl text-lightblue max-w-2xl mx-auto mb-10">
    </p>

    <button class="bg-slatecard text-lightblue hover:bg-hoverblue transition-all duration-300 px-6 py-3 rounded-lg font-semibold tracking-wide">
      <a href="https://github.com/ConquestAce/minimal-starter-conquestace-template" target="_blank" rel="noopener noreferrer">Enter the glitch </a>
    </button>
  </section>
</BaseLayout>
