---
// Footer.astro
---

<footer class="bg-slatecard text-softgray py-6">
  <div class="container mx-auto flex flex-col items-center space-y-4">
    <a 
      href="https://www.conquestace.com/" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="text-lightblue hover:text-hoverblue transition-colors duration-300"
    >
      <img 
        src="/src/assets/glitchtiger.gif" 
        alt="Glitch Tiger" 
        class="w-24 h-auto"
      />
    </a>
    <p class="text-sm text-softgray text-center">
      © {new Date().getFullYear()} Project ConquestAce. All rights reserved.
    </p>
  </div>
</footer>
